@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/root/Leftcontentbar';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v141/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-zen: 255,255,255;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /* UI colors */
    --ui_bg000: #15161b;
    --ui_bg100: #939bb0;
    --ui_bg200: #393f4f;
    --ui_bg300: #2b2f3a;
    --ui_bg400: #232429;
    --ui_bg500: #1c1c24;
    --ui_bg600: #15161b;
    --ui_bg700: #3aa8b5;

    /* Text */
    --text_light: #e7eaf1;
    --text_lightgray: #bac1d4;
    --text_gray: #88909b;
    --text_darkgray: #727584;
    --text_blue: #779aff;
    --text_blue2: #16b4fd;
    --text_green: #50d779;
    --text_orange: #e38b65;
    --text_purple: #c498fa;
    --text_red: #ff8b82;
    --text_black:#010e16;
    /* Interactive */

    /* Persona colors */
  }
}

body {
  font-family: 'Manrope', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: var(--ui_bg600);

  @media (max-width: 1200px) {
      font-size: 16px;
  }

  @media (max-width: 1200px) {
    font-size: 14px;
  }
}

h1{
  font-size: 28px;
  font-weight: 600;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

input.defaultCheckBox {
  color: white;
}

.main-container{
  @apply relative p-2 w-full h-screen;
}

.icon{
  /* width: 48px;
  height: 48px; */
  font-size: 60px;
}
.mainwrapper{
  @apply p-5;
}

.content__wrapper{
  background-color: var(--ui_bg500);
  @apply rounded-3xl;
}

.leftsideicon{
  font-size: 30px;
}
.topbar{
  @apply fixed top-0 z-30 flex w-full
  items-center justify-between bg-neutral-800 px-6
  py-3;
}
.leftside{
  @apply flex
}
.leftsidebar {
  /* background-color: var(--ui_bg600); */

  @apply sticky left-0 top-0 z-20 flex h-screen
  flex-col justify-between overflow-auto pb-3 pt-3 w-28 min-w-24
  max-md:hidden;
}

.leftsidebar__link {
  color: var(--ui_bg100);
  transition: all .1s ease;
  @apply relative flex rounded-full p-3 h-fit w-fit;
}

.leftsidebar__link:hover {
  transition: all .1s ease;
  background-color: var(--ui_bg700);
  color: white;
}

.leftsidebar__link-active{
  @apply border-2;
  border-color: var(--ui_bg700);
  color: var(--ui_bg700);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

.test{
  height: 5000px;
  background: #000;
}
